<!--Relying heavily on bootstrap's flexbox to center and stack all these elements-->
<div class="d-flex justify-content-center" style="margin-top: 15%;">
    <div class="flex-row">

        <div class="d-flex align-items-center">
            <img src="pokeball-icon.png" alt="pokeball" height="30" />
            <h4 class="mb-2">Welcome to Pokemon Hunter! Log in to begin your adventure.</h4>
        </div>

        <!--Input boxes for login credentials-->
        <!--Note the use of [(Two Way Binding)] to gather user input. See the username and password variables in the TS-->
        <input type="text" class="form-control mb-2" placeholder="Username" [(ngModel)]="username">
        <input type="password" class="form-control mb-2" placeholder="Password" [(ngModel)]="password">

        <div class="d-flex justify-content-center">
            <button class="btn btn-dark col-lg-5" (click)="login()">Log in</button>
        </div>
    </div>

</div>
