<nav class="navbar navbar-expand navbar-dark bg-dark">
        <ul class="navbar-nav flex-row">
            <li class="nav-item pe-3">
                <a class="nav-link d-flex align-items-center" routerLink="">
                    <img src="pokeball-icon.png" alt="pokeball" height="70" />
                    <p class="mt-3 fs-4 text-light">Pokemon Hunter - An Angular App </p>
                </a>
            </li> 
            <li class="nav-item mt-4 fs-5 pe-2">
                <a class="nav-link" routerLink="/welcome">[Home]</a>
            </li>
            <li class="nav-item mt-4 fs-5">
                <a class="nav-link" routerLink="/catch">[Catch Pokemon]</a>
            </li>
        </ul>
</nav>

<!-- This bootstrap navbar template was ripped almost directly from the bootstrap website... which is the point-->
<!-- NOTE: routerLink is what lets us change the URL when the user clicks the anchor tag -->